{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
{% endblock %}
{% block content %}
<div class="form-container">
  <h2 class="login-header">Сброс пароля</h2>
  <p>Введите ваш email, и мы отправим инструкции по сбросу пароля.</p>
  <form method="POST">
    <div class="form-group">
      <span><img src="{{ url_for('static', path='assets/bx-envelope.svg') }}"></span>
      <input type="email" name="email" class="input" required placeholder="Email">
    </div>
    <button type="submit" class="button-login">Отправить</button>
  </form>
  {% if error %}
  <ul class="error-list"><li>{{ error }}</li></ul>
  {% endif %}
  <p class="register-text">
    <a href="/login" class="register-link">Вернуться ко входу</a>
  </p>
</div>
{% endblock %}