{% extends "base.html" %}
{% block title %}Подтверждение входа{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/register.css') }}">
{% endblock %}
{% block content %}
<div class="form-container">
  <h2 class="text-inverter">Подтверждение входа</h2>
  <br>
  <p class="text-inverter">На ваш email <strong>{{ email }}</strong> отправлен код подтверждения. Введите его ниже.</p>
  <br>
  <form method="POST" action="/verify-2fa">
    <div class="form-group">
      <label for="code" class="text-inverter">Код подтверждения</label>
      <input type="text" id="code" name="code" class="input" required pattern="\d{6}" maxlength="6" autocomplete="off" style="margin-top:10px;">
    </div>
    <button type="submit" class="button-login">Подтвердить</button>
  </form>
    <a href="#" onclick="resendCode()" class="register-link">Не получили код? Отправить снова</a>
</div>

<script>
  function resendCode() {
    fetch('/resend-2fa', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                alert('Новый код отправлен на ваш email');
              } else {
                alert('Ошибка: ' + data.error);
              }
            });
  }
</script>
{% endblock %}